src/main/mule/test-pipeline-lfsv.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="Listener-config">
        <http:listener-connection port="8081" host="0.0.0.0"></http:listener-connection>
    </http:listener-config>
    <flow name="name1">
        <http:listener doc:id="hfsxvr" doc:name="Listener" path="/test" config-ref="Listener-config"></http:listener>
        <set-payload doc:name="Set payload" doc:id="icdtdy" value='#[output application/json
---
{
    "message": "It worked!",
    "feature": "New 14, protected"
}]' mimeType="application/json"/>
        <logger doc:name="Logger" doc:id="cgunrf" message="#[payload]"/>
    </flow>
</mule>
